<html th:replace="base::layout(~{::section})">
	<head></head>
	<body>
		<section>
			<h2 style="color:blue;text-align: center;">Enquiry Form</h2>
			<div th:if="${msg}">
				<p th:text="${msg}" style="color:green;text-align: center;"></p>
			</div>
			<form class="form-group" th:object="${dto}" method="post">
				<table class="table table-bordered" style="margin:auto;width:60%;">
					<tr>
						<td>Enter Name</td>
						<td>
							<input type="text" th:field="${dto.name}" class="form-control" required/>
						</td>
					</tr>
					<tr>
						<td>Enter Contact No</td>
						<td>
							<input type="number" th:field="${dto.contactno}" class="form-control" required/>
						</td>
					</tr>
					<tr>
						<td>Enter Email Address</td>
						<td>
							<input type="email" th:field="${dto.emailaddress}" class="form-control" required/>
						</td>
					</tr>
					<tr>
						<td>Enter Enquiry</td>
						<td>
							<textarea th:field="${dto.enquirytext}" class="form-control" required></textarea>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<button type="submit" class="btn btn-success">Submit</button>
						</td>
					</tr>
				</table>
			</form>
		</section>
	</body>
</html>